body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  #search-input {
    padding: 10px;
    width: 70%;
    border: 1px solid #0f0;
    border-radius: 5px;
    background-color: #000;
    color: #0f0;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0f0;
    color: #000;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00ff00;
  }
  
  .asset {
    border: 1px solid #0f0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  footer.footer {
    background-color: #000;
    color: #0f0;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #0f0;
    margin-top: 20px;
  }
  
  .footer-content a {
    color: #0f0;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  